# Go build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Module artifacts
go.sum

# MCP server artifacts
local_servers/

# Editor/OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs/temp
*.log
tmp/
logs

# Web artifacts
web/node_modules/
web/dist/
web/.env
web/.env.local

# General
.env

web/public/

config.yaml

